{
  "lines": {
      "turn_line_1": {
        "token": "token_on_turn_for_line_1",
        "template_namespace": "namespace_of_templates_for_line_1",
        "expiry": "expiry_date_in_format Apr 2, 2025 1:16 PM"
      },
      "turn_line_2": {
        "token": "token_on_turn_for_line_2",
        "template_namespace": "namespace_of_templates_for_line_2",
        "expiry": "expiry_date_in_format May 2, 2025 1:16 PM"
      }
    },
  "test_line": "name_of_a_line_for_the_test_suite",
  "test_number": "name_of_a_number_for_the_test_suite",
  "test_journey": "name_of_a_stack_on_your_test_line"
}
