{
  "turn_line_1": {
    "api_key": "api_key_on_turn_for_line_1",
    "expiry": "expiry_date_in_format Apr 2, 2025 1:16 PM"
  },
  "turn_line_2": {
    "api_key": "api_key_on_turn_for_line_2",
    "expiry": "expiry_date_in_format May 2, 2025 1:16 PM"
  }
}
